In [1]:
import pandas as pd

census_df = pd.read_csv('https://storage.googleapis.com/py_ml_datasets/census.csv')
census_df.shape

(3193, 100)

In [3]:
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [4]:
census_df['STNAME'].nunique() #看全部有幾州

51

In [5]:
census_df['STNAME'].unique() #有哪些州

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [6]:
census_df['STNAME'].value_counts()

Texas                   255
Georgia                 160
Virginia                134
Kentucky                121
Missouri                116
Kansas                  106
Illinois                103
North Carolina          101
Iowa                    100
Tennessee                96
Nebraska                 94
Indiana                  93
Ohio                     89
Minnesota                88
Michigan                 84
Mississippi              83
Oklahoma                 78
Arkansas                 76
Wisconsin                73
Alabama                  68
Pennsylvania             68
Florida                  68
South Dakota             67
Louisiana                65
Colorado                 65
New York                 63
California               59
Montana                  57
West Virginia            56
North Dakota             54
South Carolina           47
Idaho                    45
Washington               40
Oregon                   37
New Mexico               34
Utah                     30
Alaska                   30
Maryland                 25
Wyoming                  24
New Jersey               22
Nevada                   18
Maine                    17
Arizona                  16
Massachusetts            15
Vermont                  15
New Hampshire            11
Connecticut               9
Hawaii                    6
Rhode Island              6
Delaware                  4
District of Columbia      2
Name: STNAME, dtype: int64

In [8]:
def answer_one(df):
    ser = df['STNAME'].value_counts()
    return ser.idxmax()
answer_one(census_df)

'Texas'

In [10]:
#40的表示是STATE
census_df['SUMLEV'].value_counts()

50    3142
40      51
Name: SUMLEV, dtype: int64

In [18]:
#僅考慮每州（state）人口最多的三個郡（county）計算人口總和（CENSUS2010POP），哪三個州總和數最多？
# 要把40的排除掉
county_data = census_df[census_df['SUMLEV'] ==50]
state_names = county_data['STNAME'].unique() #先得到51個州的名稱,不重複
top3_pop_summation = []
for state_name in state_names:
    single_state = county_data[county_data['STNAME'] == state_name]
    single_state_sorted = single_state.sort_values('CENSUS2010POP',ascending=False)
    top3_pop = single_state_sorted['CENSUS2010POP'].values[:3]
    top3_pop_sum = top3_pop.sum()
    top3_pop_summation.append(top3_pop.sum())
print(top3_pop_summation)
print(len(top3_pop_summation))

[1406269, 478402, 5173150, 807152, 15924150, 1794424, 2673320, 897934, 601723, 5564635, 2417795, 1293120, 719782, 6815061, 1754727, 807090, 1220478, 1196619, 1216552, 632728, 2640226, 3044796, 3863924, 2059617, 593642, 2033597, 348199, 961357, 2427950, 842389, 2498943, 1015967, 6321295, 2309027, 297947, 3245910, 1577791, 1641036, 3549228, 919804, 1185938, 315244, 1986551, 8269632, 1852698, 277721, 1921722, 3439809, 393551, 1825699, 213321]
51

In [23]:
ser = pd.Series(top3_pop_summation,index = state_names)
ser_sorted = ser.sort_values(ascending=False)[:3]
ans = list(ser_sorted[:3].index)
ans

['California', 'Texas', 'Illinois']

In [24]:
def answer_two(df):
    #filter county_data
    county_data = census_df[census_df['SUMLEV'] ==50]
    # iteration for 51 states
    state_names = county_data['STNAME'].unique() #先得到51個州的名稱,不重複
    top3_pop_summation = []
    for state_name in state_names:
        single_state = county_data[county_data['STNAME'] == state_name]
        single_state_sorted = single_state.sort_values('CENSUS2010POP',ascending=False)
        top3_pop = single_state_sorted['CENSUS2010POP'].values[:3]
        top3_pop_sum = top3_pop.sum()
        top3_pop_summation.append(top3_pop.sum())
    # get answer
    ser = pd.Series(top3_pop_summation,index = state_names)
    ser_sorted = ser.sort_values(ascending=False)[:3]
    ans = list(ser_sorted[:3].index)
    return ans
answer_two(census_df)

['California', 'Texas', 'Illinois']

In [25]:
# 解二
# nlargest傳回指定變數的前n大的值
census_df['CENSUS2010POP'].nlargest(3)

190     37253956
2566    25145561
1860    19378102
Name: CENSUS2010POP, dtype: int64

In [26]:
county_data['CENSUS2010POP'].nlargest(3).sum()

19105739

In [32]:
group_object = county_data.groupby('STNAME')
top3_by_states = group_object['CENSUS2010POP'].nlargest(3)
groupby_object = top3_by_states.groupby('STNAME')
groupby_object.sum()
ser = groupby_object.sum()
ans = list(ser.nlargest(3).index)
print(ans)

['California', 'Texas', 'Illinois']

In [34]:
def answer_two(df):
     #filter county_data
    county_data = census_df[census_df['SUMLEV'] ==50]
    #nlargest at state level
    group_object = county_data.groupby('STNAME')
    top3_by_states = group_object['CENSUS2010POP'].nlargest(3)
    groupby_object = top3_by_states.groupby('STNAME')
    # nlargest at nation level
    ser = groupby_object.sum()
    ans = list(ser.nlargest(3).index)
    return ans
answer_two(census_df)

['California', 'Texas', 'Illinois']

In [36]:
#哪個郡（county）在 2010-2015 期間人口改變數量最高？（POPESTIMATE2010:POPESTIMATE2015 這六個變數）
county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015']

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,54660,55253,55175,55038,55290,55347
2,183193,186659,190396,195126,199713,203709
3,27341,27226,27159,26973,26815,26489
4,22861,22733,22642,22512,22549,22583
5,57373,57711,57776,57734,57658,57673
...,...,...,...,...,...,...
3188,43593,44041,45104,45162,44925,44626
3189,21297,21482,21697,22347,22905,23125
3190,21102,20912,20989,21022,20903,20822
3191,8545,8469,8443,8443,8316,8328
3192,7181,7114,7065,7160,7185,7234

In [42]:
#水平方向
pop_max = county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015'].max(axis=1)
pop_min = county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015'].min(axis=1)
pop_diff = pop_max - pop_min
max_pop_diff_index = pop_diff.idxmax()
county_data['CTYNAME'][max_pop_diff_index]

'Harris County'

In [43]:
def answer_three(df):
    #filter county_data
    county_data = df[df['SUMLEV'] == 50]
    #summarize by rows
    pop_max = county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015'].max(axis=1)
    pop_min = county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015'].min(axis=1)
    pop_diff = pop_max - pop_min
    max_pop_diff_index = pop_diff.idxmax()
    ans = county_data['CTYNAME'][max_pop_diff_index]
    return ans
answer_three(census_df)

'Harris County'

In [44]:
#篩選出屬於 REGION 1 或 2、開頭名稱為 Washington 並且 POPESTIMATE2015 大於 POPESTIMATE2014 的郡（county）
region_filter = (county_data['REGION'] == 1) | (county_data['REGION'] == 2)
county_data[region_filter].shape

(1272, 100)

In [45]:
ctyname_filter = county_data['CTYNAME'].str.contains("Washington")
county_data[ctyname_filter].shape

(31, 100)

In [46]:
pop_filter = county_data['POPESTIMATE2015'] > county_data['POPESTIMATE2014']
county_data[pop_filter].shape

(1601, 100)

In [52]:
intersect_filter = region_filter & ctyname_filter & pop_filter
county_data[intersect_filter][['STNAME','CTYNAME']].reset_index(drop = True)

         STNAME            CTYNAME
0          Iowa  Washington County
1     Minnesota  Washington County
2  Pennsylvania  Washington County
3  Rhode Island  Washington County
4     Wisconsin  Washington County

In [54]:
def answer_four(df):
    #filter county_data
    county_data = df[df['SUMLEV'] == 50]
    # create filters
    region_filter = (county_data['REGION'] == 1) | (county_data['REGION'] == 2)
    ctyname_filter = county_data['CTYNAME'].str.contains("Washington")
    pop_filter = county_data['POPESTIMATE2015'] > county_data['POPESTIMATE2014']
    intersect_filter = region_filter & ctyname_filter & pop_filter
    ans_filter = county_data[intersect_filter]
    ans_select = ans_filter[['STNAME','CTYNAME']]
    ans = ans_select.reset_index(drop=True)
    return ans
answer_four(census_df)

         STNAME            CTYNAME
0          Iowa  Washington County
1     Minnesota  Washington County
2  Pennsylvania  Washington County
3  Rhode Island  Washington County
4     Wisconsin  Washington County